body {
		text-align: center;
		color: #444;
		font-size: 18px;
		line-height: 1.7;
		font-family: Helvetica, Arial;
	}
	.outer-wrap {
		max-width: 800px;
		margin: 0 auto;
	}
	h1 {
		font-family: 'Lily Script One', cursive;
		font-size: 4em;
		letter-spacing: 3px;
		margin-bottom: 3px;
	}
	@media screen and (max-width: 450px) {
		h1 {
			font-size: 2em;
		}
	}
	.row {
	    max-width: 900px;
	    margin: 0 auto;
	}
	img {
		max-width: 100%;
	}

	.img-container {
		width: 100%;
		/*max-width: 700px;*/
		margin: 2em auto 1em;
	}
	.cols--3 {
		-moz-column-count:3;
		-moz-column-gap: 3%;
		-moz-column-width: 30%;
		-webkit-column-count:3;
		-webkit-column-gap: 3%;
		-webkit-column-width: 30%;
		column-count: 3;
		column-gap: 3%;
		column-width: 30%;
	}
	.cols--2 {
		-moz-column-count:2;
		-moz-column-gap: 3%;
		-moz-column-width: 40%;
		-webkit-column-count:2;
		-webkit-column-gap: 3%;
		-webkit-column-width: 40%;
		column-count: 2;
		column-gap: 3%;
		column-width: 40%;
	}
	.img-container__img {
		margin-bottom: 20px;
	}
	.summary-tile {
		width: 20vw;
		width: 370px;
		padding: 0;
		margin: 20px;
		overflow: hidden;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(43,59,93,.29);
	}
	.features {
		margin: 3em 0;
	}
	.features-list {
		display: flex;
		flex-wrap: wrap;
	}
	.features-list > div {
		flex: 1;
		background: rgba(0,0,0,0.06);
		padding: 10px;
		margin: 10px;
		white-space: nowrap;
	}
	@media screen and (max-width: 500px) {
		.features-list {
			flex-direction: column;
		}
	}
